.encabezado .contendor-titulo {
  height: 250px;
  background: url(../assets/images.jpg);
  background-position: center;
  background-size: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.encabezado .contendor-titulo .titulo {
  color: #383e43;
  font-size: 36px;
  padding-top: 2.25%;
  margin-left: 10%;
}

.encabezado .contendor-titulo .titulo .titulo2 {
  display: block;
  font-style: italic;
  font-size: 70px;
}

.encabezado .contendor-titulo .titulo .titulo3 {
  display: block;
  font-style: italic;
  font-size: 70px;
  margin-left: 15%;
}

.encabezado .navegador .list-nav {
  margin-top: 0;
  padding: 0;
  text-align: center;
  background-color: #1c4a48;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.encabezado .navegador .list-nav #li-4 {
  border-right: 0px solid #ffffff;
}

.encabezado .navegador .list-nav .list-item {
  list-style: none;
  padding: 2.5%;
  display: inline-block;
  padding-left: 4.5%;
  padding-right: 4.5%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  border-right: 3px solid #ffffff;
}

.encabezado .navegador .list-nav .list-item .list-link {
  text-decoration: none;
  color: white;
  font-size: 36px;
}

.seccion .contenedor-articulos {
  width: 52.5%;
  margin: 0;
  display: inline-block;
}

.seccion .contenedor-articulos .card {
  background-color: #fbf5ba;
  width: 100%;
  border-radius: 25px;
  padding: 1%;
  margin-top: 20px;
}

.seccion .contenedor-articulos .subtitulo {
  margin-top: 0;
  font-size: 24px;
}

.seccion .contenedor-articulos .textos {
  width: 55%;
  display: inline-block;
}

.seccion .contenedor-articulos p {
  display: inline-block;
  font-size: 20px;
  margin-top: 0;
}

.seccion .contenedor-articulos .img {
  display: inline-block;
}

.seccion .contenedor-articulos .imagen {
  width: 80%;
  border: 3px solid black;
  margin-left: 12.5%;
}

.seccion .contenedor-articulos .enlace {
  display: block;
  font-size: 20px;
  text-decoration: none;
  color: #1c4a48;
}

.seccion .formulario {
  display: inline-block;
  height: 500px;
  position: absolute;
  margin-left: 6%;
}

.seccion .formulario .titulo-formulario {
  background-color: #0b281e;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.seccion .formulario .titulo-formulario .titulo-cita {
  margin-bottom: 0;
  padding: 2.5%;
  color: #ffffff;
  text-align: center;
}

.seccion .formulario .formulario1 {
  background-color: #496e6d;
  height: 505px;
  width: 550px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  color: #ffffff;
  font-size: 24px;
}

.seccion .formulario label {
  width: 100px;
  display: inline-block;
  padding: 1.75%;
  margin-top: 25px;
  margin-left: 15%;
}

.seccion .formulario select {
  width: 255px;
}

.seccion .formulario input {
  width: 250px;
}

.seccion .formulario button {
  margin-top: 15px;
  border-radius: 10px;
  margin-left: 35.5%;
  width: 175px;
  height: 35px;
}

.pie {
  background: #1c4a48;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 1.5%;
}

.text1 {
  margin-bottom: 0;
  margin-top: 0;
}

footer {
  margin-top: 36px;
}
/*# sourceMappingURL=styles.css.map */
